@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

html, body{
    background-color: #343541;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
    font-weight: lighter;
    text-transform: uppercase;
    margin: 2rem 0 1rem;
}

header .btns-container{
    border: 1px solid white;
    padding: 1rem;
    display: inline-flex;
}

header .btns-container .btn + .btn{
    margin-left: 1rem;
}

#random-word{
    border-radius: 50%;
    padding: 0 0.2rem;
}

.container{
}

#app-body{
}

.modal-content{
    border-radius: 0;
}

.modal-header{
    background-color: #343541;
    border-radius: 0;
    text-transform: uppercase;
}

.modal-header .btn-close{
    color: white;
}

.modal-body{
    padding-top: 3rem;
}

.table{
    color:white;
    width: auto;
}

.table>:not(caption)>*>*{
    border-bottom: 0px;
    padding: .2rem .5rem;
}

.table>:not(caption)>*>td:first-child{
    padding-left: 0;
}

.table .btn{
    padding: 0;
}

.table .btn-edit{
    color: white;
    text-transform: none;
}

.row-dict{
    margin-bottom: 1rem;
}

.btn, .form-control{
    border-radius: 0;
}

.btn{
    padding: calc(var(--bs-btn-padding-y) + 0px) var(--bs-btn-padding-x);
    text-transform: uppercase;
}

.btn > i.fa{
    margin: 0 .3rem;
}